.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

.footer{
    text-align: center;
}

/*登录表单样式*/
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .login-form-button {
    width: 488px;
}

.leftContainer{
    width: 400px;
    float:left;
    padding-top: 10px;
}
.carousel{
    width: 400px;
    float:left;
}